<div class="matero-user-panel" fxLayout="column" fxLayoutAlign="center center">
    <img class="matero-user-panel-avatar" src="./assets/images/cg.gif" alt="avatar" />
    <h4 class="matero-user-panel-email">DIGITAL SECRETARIAT</h4>
    <h4 class="matero-user-panel-email">Govt. of Chhattisgarh</h4>
    <h5 class="matero-user-panel-email">Welcome {{username}}</h5>
    <div class="matero-user-panel-icons">
      <a routerLink="/profile/overview" mat-icon-button>
        <mat-icon class="icon-20">account_circle</mat-icon>
      </a>
      <a routerLink="/profile/settings" mat-icon-button>
        <mat-icon class="icon-20">settings</mat-icon>
      </a>
      <a (click)="logout()" mat-icon-button>
        <mat-icon class="icon-20">exit_to_app</mat-icon>
      </a>
    </div>
  </div>